/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center {
    text-align: center;
}

.header {
    color: saddlebrown;
    font-family: nunito;
}

h1 {
    font-size: 4em;
}